body, html {
    background-color: #f6f6f6;
}

#painting {
    background-color: #fff4db;
    width: 400px;
    height: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 0px darkgray;
}

#toprow {
    height: 290px;
}

#bigbox {
    width: 290px;
    height: 290px;
    
}

#divider1 {
    height: 290px;
    width: 10px;
}

.aqua {
    background-color: aqua;   
}

.aquamarine {
    background-color: aquamarine;   
}

.lightblue {
    background-color: lightblue; 
}

.lightskyblue {
    background-color: lightskyblue;   
}

.royalblue {
    background-color: royalblue;   
}

.right {
    float: right;
}

.grey {
    background-color: #808080
}

.mediumbox {
    width: 100px;
    height: 140px;
}

#divider2 {
    height: 10px;
    width: 100px;
}

#divider3 {
    width: 400px;
    height: 10px;
}

#divider4 {
    width: 10px;
    height: 100px;
}

#smallbox1 {
    width: 50px;
    height: 50px; 
}

#divider5 {
    width: 50px;
    height: 10px;
}